@import "variables";

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2em;
}

.flex-row, .flex-row-between {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-row-between {
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* wrap on 992px */
@media screen and (max-width: 992px) {
  .flex-wrap-m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

/* wrap on 768px */
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 1em;
  }
  .flex-wrap-s {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

/* wrap on 480px */
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 0.5em;
  }
  .flex-wrap-xs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

form {
  button {
    margin: 1.5em auto;
    width: 200px;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.alert {
  position: absolute;
  top: 5px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}