@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/opensans/opensans.ttf") format("truetype"),
      url("../fonts/opensans/opensans.woff") format("woff"),
      url("../fonts/opensans/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/opensans/opensansbold.ttf") format("truetype"),
      url("../fonts/opensans/opensansbold.woff") format("woff"),
      url("../fonts/opensans/opensansbold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


